*.exe
*dSYM
*.o
*.so
*.dylib
*.bin

bin/
obj/
build/

.DS-store
src/exercicios_propostos/ascencio_p190_q1a
src/exercicios_propostos/ascencio_p190_q2a
src/exercicios_propostos/ascencio_p249_q1a
src/lista_exercicios/lista_1/l1_q5
src/lista_exercicios/lista_1/l1_q4
src/lista_exercicios/lista_1/l1_q3
src/lista_exercicios/lista_1/l1_q2
src/lista_exercicios/lista_1/l1_q1
