*.exe
*dSYM
*.o
*.so
*.dylib
*.bin

bin/
obj/
build/

.DS-store
src/exercicios_propostos/ascencio_p93_q23a
src/exercicios_propostos/ascencio_p93_q23b
src/exercicios_propostos/ascencio_p150_q24
src/exercicios_propostos/ascencio_p150_q25
src/exercicios_propostos/ascencio_p190_q1a
src/exercicios_propostos/ascencio_p190_q2a
src/exercicios_propostos/ascencio_p249_q1a
src/exercicios_propostos/ascencio_p413_q3
src/exercicios_propostos/ascencio_p413_q2
src/exercicios_propostos/ascencio_p329_q1a

src/lista_exercicios/lista_1/l1_q5
src/lista_exercicios/lista_1/l1_q4
src/lista_exercicios/lista_1/l1_q3
src/lista_exercicios/lista_1/l1_q2
src/lista_exercicios/lista_1/l1_q1

src/exemplos/exemplo_struct

data/
.DS_Store
src/exemplos/arquivos/exemplo_fread
src/exemplos/arquivos/exemplo_fwrite
src/exemplos/arquivos/exemplo_rewind
tasks/alencar_arquivo_e1
tasks/alencar_arquivo_e2
tasks/alencar_arquivo_e3
tasks/alencar_arquivo_e4
tasks/alencar_arquivo_e5
